body{
  padding-top:0px;
}

img{
  position:relative;
}

h4{
  positoin:relative;
}

.search-bar{
  height:50px;
  position:fixed;
  top:0;
  left:0;
  z-index:99;
  background-color:#fff;
  padding:10px 0 0 0;
}

.navigation{
  height:100vh;
  position:fixed;
  left:0;
  background-color:grey;
}

.navigation ul{
  margin-top:100px;
}

.navigation ul li{
  color:#ffffff;
}
